<ion-header [translucent]="true">
  <ion-toolbar>
    <br />
    <div class="header-content">
      <div class="logo-title">
        <div class="logo">
          <img
            src="assets/mediqnect.png"
            alt="MediQnect Logo"
            class="logo-img"
          />
        </div>
        <h1 class="title">HISTORY</h1>
      </div>
      <ion-button class="profile-square" (click)="profile()">
        <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circular"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <!-- Tabs -->
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="completed">Completed</ion-segment-button>
    <ion-segment-button value="late">Late</ion-segment-button>
    <ion-segment-button value="missed">Missed</ion-segment-button>
  </ion-segment>

  <!-- Cards by Status -->
  <ng-container *ngFor="let history of filteredHistories()">
    <div class="date-label">{{ history.history_datetime | date:'short' }}</div>
    <ion-card
      [class.clickable]="segment === 'missed'"
      (click)="segment === 'missed' ? openAlert(history.schedule_id, history.scheduled_datetime, history.history_id, history.medicine_name, history.status_name) : null"
    >
      <ion-card-content class="med-card">
        <div>
          <strong>{{ history.medicine_name }}</strong><br />
          <small
            >Medicine was administered at {{ history.scheduled_datetime |
            date:'short' }}</small
          >
        </div>
        <div class="status-dot" [ngClass]="history.status_name"></div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
