<br />
<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding profile-page">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circular"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <section class="logo-title-wrapper">
    <div class="logo-title">
      <div class="logo">
        <img src="assets/mediqnect.png" alt="MediQnect Logo" class="logo-img" />
      </div>
    </div>
  </section>

  <div class="user-section">
    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
    <div class="username">{{ user_data.username || 'User Name' }}</div>
    <p>{{ user_data.dispenser_code || 'no dispenser' }}</p>
  </div>

  <ion-item button (click)="openChangePasswordPopup()">
    <ion-label>Change Password</ion-label>
  </ion-item>

  <ion-item button (click)="openSwitchUserModal()">
    <ion-label>Switch User</ion-label>
  </ion-item>

  <ion-item button (click)="isDeleteAccount()">
    <ion-label>Delete Account</ion-label>
  </ion-item>

  <ion-item button (click)="openCleanCompartment()">
    <ion-label>Clean Compartment</ion-label>
  </ion-item>

  <div>
    <p class="account-info">
      Joined: {{ user_data.created_at | date:'longDate' }}
    </p>
    <p class="account-info">
      Modified: {{ user_data.modified_at | date:'longDate' }}
    </p>
  </div>

  <!-- Change Password Popup -->
  <div
    *ngIf="showChangePasswordPopup"
    class="popup-overlay"
    (click)="closeChangePasswordPopup()"
  >
    <div class="popup-box" (click)="$event.stopPropagation()">
      <ion-toolbar>
        <ion-title>Change Password</ion-title>
      </ion-toolbar>

      <form (ngSubmit)="savePasswordChange()" #passwordForm="ngForm" novalidate>
        <label class="input-label">New Password</label>
        <div class="input-box">
          <ion-input
            [(ngModel)]="new_password"
            name="new_password"
            type="password"
            minlength="6"
            maxlength="50"
            required
          ></ion-input>
        </div>
        <label class="input-label">Confirm Password</label>
        <div class="input-box">
          <ion-input
            [(ngModel)]="confirm_password"
            name="confirm_password"
            type="password"
            required
          ></ion-input>
        </div>
        <label class="input-label">Current Password</label>
        <div class="input-box">
          <ion-input
            [(ngModel)]="password"
            name="password"
            type="password"
            required
          ></ion-input>
        </div>

        <div class="button-row">
          <ion-button color="danger" (click)="closeChangePasswordPopup()"
            >Cancel</ion-button
          >
          <ion-button expand="block" type="submit">Save</ion-button>
        </div>
      </form>
    </div>
  </div>

  <!-- Switch User Modal -->
  <ion-modal
    [isOpen]="isSwitchUserModalOpen"
    (didDismiss)="closeSwitchUserModal()"
    cssClass="half-modal"
  >
    <ng-template>
      <ion-content scroll="false" class="ion-padding half-modal">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button fill="clear" (click)="closeSwitchUserModal()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Select User</ion-title>
        </ion-toolbar>

        <div *ngIf="accounts.length > 0; else noAccounts">
          <ion-list>
            <ion-item
              *ngFor="let account of accounts"
              button
              (click)="switchToUser(account.user_id)"
            >
              <ion-icon
                name="person-circle-outline"
                class="user-icon"
              ></ion-icon>
              <ion-label>{{ account.username }}</ion-label>
            </ion-item>

            <ion-item button (click)="openAddUserPopup()">
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-label>Add Account</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ng-template #noAccounts>
    <div class="no-medications">
      <ion-icon name="calendar-clear-outline"></ion-icon>
      <p>No account/s yet.</p>
    </div>
  </ng-template>

  <ion-modal
    [isOpen]="showAddUserPopup"
    (didDismiss)="closeAddUserPopup()"
    cssClass="add-user-modal"
  >
    <ng-template>
      <ion-content scroll="false" class="ion-padding">
        <ion-toolbar>
          <ion-title>Add Account</ion-title>
        </ion-toolbar>

        <form (ngSubmit)="addNewAccount()" #addUserForm="ngForm" novalidate>
          <label class="input-label">Username</label>
          <div class="input-box">
            <ion-input
              id="username"
              [(ngModel)]="username"
              name="username"
              required
            ></ion-input>
          </div>

          <label class="input-label">Password</label>
          <div class="input-box">
            <ion-input
              id="password"
              [(ngModel)]="password"
              name="password"
              type="password"
              required
            ></ion-input>
          </div>
          <div class="button-row">
            <ion-button color="danger" (click)="closeAddUserPopup()"
              >Cancel</ion-button
            >
            <ion-button type="submit">Add</ion-button>
          </div>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Clean Compartment -->
  <ion-modal
    [isOpen]="showCleanCompartment"
    (didDismiss)="closeCleanCompartment()"
    cssClass="add-user-modal"
  >
    <ng-template>
      <ion-content scroll="false" class="ion-padding">
        <ion-toolbar>
          <ion-title>Clean Compartment</ion-title>
        </ion-toolbar>

        <ion-button expand="block" (click)="cleanCompartment(4)">B1</ion-button>
        <ion-button expand="block" (click)="cleanCompartment(5)">B2</ion-button>
        <ion-button expand="block" (click)="cleanCompartment(6)">B3</ion-button>
        <ion-button expand="block" color="danger" (click)="closeCleanCompartment()">Cancel</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Logout -->
  <div class="logout-button">
    <ion-button expand="block" color="danger" (click)="logout()"
      >Log Out</ion-button
    >
  </div>
</ion-content>
